.text-left {
    color: #000C4D;
}

img {
    float: right;
    width: 500px;
    height: 350px;
    max-width: 100%;
    border-radius: 10%;
}

@media screen and (max-width: 768px) {
    img {
        float: right;
        width: 400px;
        height: 250px;
        max-width: 100%;
    }
}