<div class="jumbotron">
    <h1 class="display-3 text-center font-weight-bold">Regulación</h1>
    <div class="container">
        <p class="text-justify lead" style="font-size:30px;"><p class="text-justify lead" style="font-size:30px;">Debido a la diversifiación de la matriz energética en los países de centroamérica, la sobreoferta o deficit de potencia y energía en los mercados nacionales y el proceso evolutivo de la red trasmisión, se han dinamizado las reformas y actualizaciones normativas y regulatorias de los mercados nacionales y del MER. En este contexto, resulta de vital importancia comprender el entorno regulatorio para identificar de manera oportuna los cambios en la operación de los distintos actores del mercado, identificando los potenciales riegos y nuevas oportunidades de negocio con la finalidad de definir la estragia que optimice los recursos del negocio. </p>
        <p class="text-justify lead" style="font-size:30px;"><p class="text-justify lead" style="font-size:30px;">Desde Pool Energy Consultores apoyamos en la tarea fundamental de proveer a nuestros clientes de información fiable, analítica y contextualizada sobre el entorno regulatorio que les permita el desarrollo eficiente y óptimo de sus negocios.</p>
        <h1 class="display-5 text-left font-weight-bold">Servicios</h1>
        <ul>
          <li class="lead" style="font-size:25px;">Inteligencia regulatoria y de mercado.</li>
          <li class="lead" style="font-size:25px;">Análisis y seguimiento de la regulación y cambios propuestos.</li>
          <li class="lead" style="font-size:25px;">Asesoría a las gremiales para el desarrollo y propuesta de cambios al marco regulatorio.</li>
          <li class="lead" style="font-size:25px;">Gestiones ante autoridades reguladoras, Operador del Mercado y Operador del Sistema tanto naciones como regionales.</li>
          <li class="lead" style="font-size:25px;">Evaluación regulatoria para proyectos y oportunidades de inversión.</li>
          <li class="lead" style="font-size:25px;">Capacitación sobre temas y procedimientos regulatorios y de mercado a nivel Avanzado.</li>
        </ul>
    </div>
  </div>