<div class="jumbotron">
    <div id="servicios">
        <div class="container">
            <div class="heading animate-box" data-animate-effect="fadeIn">
                <h1>Contacto</h1>
                <h3 class="text-justify lead">Información</h3>
                <address class="text-left">
                    <strong>Dirección</strong><br>
                    2da Calle 15-20 Sector B1 Ciudad San Cristóbal
                    , Zona 8 Mixco Guatemala, Guatemala, Centroamérica<br>
                    <strong>Teléfono</strong><br>
                    <abbr title="Teléfono de oficina">Of:</abbr><a href="tel:+50224796591"> +502 2479-6591</a>
                    <br>
                    <abbr title="Teléfono de oficina">Of:</abbr><a href="tel:+50224801595"> +502 2480-1595</a>
                    <br>
                    <strong>Correo</strong><br>
                    <a href="mailto:#">info@poolenergy.com.gt</a>
                </address>
            </div>

            <form #userForm="ngForm" (ngSubmit)="contactForm(userForm)">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-1">
                            <img src="/assets/img/baseline_person_black_18dp.png" alt="Nombre">
                        </div>
                        <div class="col-md-10">
                            <input id="name" name="nombre" placeholder="Nombre" class="form-control" [ngModel]="contacto.nombre" text required #nombre="ngModel">
                            <div class="alert" *ngIf="nombre.errors && userForm.submitted && !isValidFormSubmitted">
                                <div *ngIf="nombre.errors.required">
                                    {{ strName }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-md-1"><img src="/assets/img/baseline_email_black_18dp.png" alt="correo">
                        </div>
                        <div class="col-md-10">
                            <input id="email" name="email" placeholder="Correo electrónico" class="form-control" [ngModel]="contacto.email" required [pattern]="emailPattern" #email="ngModel">
                            <div class="alert" *ngIf="email.errors && userForm.submitted && !isValidFormSubmitted">
                                <div *ngIf="email.errors.required">
                                    {{strEmail}}
                                </div>
                                <div *ngIf="email.errors.pattern">
                                    {{strInvalidEmail}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-md-1"><img src="/assets/img/baseline_call_black_18dp.png" alt="Telefono">
                        </div>
                        <div class="col-md-10">
                            <input id="telefono" name="telefono" type="number" placeholder="Telefono" class="form-control" value="" [(ngModel)]="contacto.telefono" number [pattern]="telefonoPattern" #telefono="ngModel">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-md-1">
                            <img src="/assets/img/baseline_comment_black_18dp.png" alt="Asunto">
                        </div>
                        <div class="col-md-10">
                            <textarea class="form-control" id="asunto" name="asunto" placeholder="Ingrese su mensaje para nosotros aquí. Nos pondremos en contacto con usted." rows="7" [(ngModel)]="contacto.asunto" text required minlength="10" maxlength="500" #asunto="ngModel"></textarea>
                            <div class="alert" *ngIf="asunto.errors && userForm.submitted && !isValidFormSubmitted">
                                <div *ngIf="asunto.errors.required">
                                    {{strAsunto}}
                                </div>
                                <div *ngIf="asunto.errors.minlength">
                                    {{strAsuntoMin}}
                                </div>
                                <div *ngIf="asunto.errors.maxlength">
                                    {{strAsuntoMax}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-12 text-center">
                        <button type="button" type="submit" class="btn btn-primary btn-lg">Enviar</button>
                    </div>
                </div>

            </form>
            <BR>

            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7722.010189020698!2d-90.58272652377336!3d14.598785491685305!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8589a0ede5ed2851%3A0x5dc6c0a68f5b9b64!2sSector+B1%2C+Guatemala!5e0!3m2!1ses-419!2sgt!4v1559239783999!5m2!1ses-419!2sgt"
                width="100%" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>

        </div>
    </div>
</div>