<div class="jumbotron">
    <div id="servicios">
        <div class="container">
            <div class="heading animate-box" data-animate-effect="fadeIn">
                <h1>Contacto</h1>
                <h3 class="text-justify lead">Información</h3>
                <address class="text-left">
                    <strong>Dirección</strong><br>
                    2da Calle 15-20 Sector B1 Ciudad San Cristóbal
                    , Zona 8 Mixco Guatemala, Guatemala, Centroamérica<br>
                    <strong>Teléfono</strong><br>
                    <abbr title="Teléfono de oficina">Of:</abbr><a href="tel:+50224796591"> +502 2479-6591</a>
                    <br>
                    <abbr title="Teléfono de oficina">Of:</abbr><a href="tel:+50224801595"> +502 2480-1595</a>
                    <br>
                    <strong>Correo</strong><br>
                    <a href="mailto:#">info@poolenergy.com.gt</a>
                </address>
            </div>

            <form class="form-horizontal" action="#">
                <fieldset>
                    <legend class="text-center header">Contactenos</legend>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-1"><img src="/assets/img/baseline_person_black_18dp.png" alt="Nombre">
                            </div>
                            <div class="col-md-10">
                                <input id="fname" name="name" type="text" placeholder="Nombre" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-1"><img src="/assets/img/baseline_email_black_18dp.png" alt="Email">
                            </div>
                            <div class="col-md-10">
                                <input id="email" name="email" type="text" placeholder="Correo electrónico" class="form-control">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-1"><img src="/assets/img/baseline_call_black_18dp.png" alt="Telefono">
                            </div>
                            <div class="col-md-10">
                                <input id="phone" name="phone" type="text" placeholder="Phone" class="form-control">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-1"><img src="/assets/img/baseline_comment_black_18dp.png" alt="Comentario"></div>
                            <div class="col-md-10">
                                <textarea class="form-control" id="message" name="message" placeholder="Ingrese su mensaje para nosotros aquí. Nos pondremos en contacto con usted." rows="7"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12 text-center">
                            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#exampleModalCenter">Enviar</button>
                        </div>
                    </div>
                </fieldset>
            </form>
            <BR>

            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7722.010189020698!2d-90.58272652377336!3d14.598785491685305!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8589a0ede5ed2851%3A0x5dc6c0a68f5b9b64!2sSector+B1%2C+Guatemala!5e0!3m2!1ses-419!2sgt!4v1559239783999!5m2!1ses-419!2sgt"
                width="100%" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>

        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Envio de correo</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Aun no esta disponible esta funcionalidad
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>
<app-pie-pagina></app-pie-pagina>