.jumbotron {
    background-color: #ffffff;
}

img {
    float: right;
    width: 600px;
    height: 450px;
    max-width: 100%;
}

@media screen and (max-width: 768px) {
    img {
        float: right;
        width: 400px;
        height: 150px;
        max-width: 100%;
    }
}