<div class="cover">
    <div id="servicios">
        <div class="container">
            <div class="heading animate-box" data-animate-effect="fadeIn">
                <h1 class="text-center font-weight-bold">Estudios y Data Intelligence</h1>
                <p class="text-justify lead">La dinámica de los mercados energéticos y especialmente la dinámica de los mercados de electricidad en la región de Centroamérica, hace necesario un monitoreo constante de los principales párametros y variables que inciden directamente
                    en las transacciones. Parametros tales como: precios de oportunidad de la energía (SPOT), precios internacionales de los combustibles, variabilidad de las fuentes renovables, indisponibilidades de la centrales generadoras, etc. necesitan
                    ser monitoreados en el corto plazo y se requieren proyecciones acertadas a mediano y largo plazo.</p>
                <p class="text-justify lead">Pool Energy Consultores cuenta con la experiencia para elaborar pronósticos de escenarios que correlacionan estadísticamente históricos, datos actuales y proyecciones en el contexto de los modelos de mercado adoptados por cada país y que
                    le facilitan al cliente el Data Intelligence necesario para orientar las acciones y toma de decisiones que garanticen la continuidad y exito de su negocio.</p>
            </div>

            <h1 class="text-left font-weight-bold animate-box" data-animate-effect="fadeIn">Servicios</h1>
            <ul>
                <li class="lead">Estadísticas operativas y proyecciones:</li>
                <ul>
                    <li class="lead">Intercambios de energía (México y MER)</li>
                    <li class="lead">Consumos de combustibles</li>
                    <li class="lead">Riesgo de deficit y energía no suministrada</li>
                    <li class="lead">Costos marginales de corto plazo</li>
                    <li class="lead">Valor del agua</li>
                    <li class="lead">Precios nodales regionales</li>
                    <li class="lead">Costos y Derechos de Transmisión Regionales</li>
                    <li class="lead">Subastas de Derechos de Transmisión Regionales</li>
                    <li class="lead">Estadísticas para la toma de decisiones</li>
                    <li class="lead">Modelos predictivos (forecasting)</li>
                    <li class="lead">Presentación y automatización de reportes</li>
                </ul>
                <li class="lead">Estudios de impacto económico</li>
                <ul>
                    <li class="lead">Pronóstico de despacho de corto, mediano y largo plazo</li>
                    <li class="lead">Simulación de cambios regulatorios (Reservas operativas, 50 bis, Modelo remueración RTR)
                    </li>
                    <li class="lead">Asignaciones de potencia (OF, OF, exportaciones)</li>
                    <li class="lead">Factibilidad para exportar e importar en el MER</li>
                    <li class="lead">Validación para agentes de la planificación, programación y pronósticos de los Operadores del Sistema y Mercado</li>
                    <li class="lead">Soporte técnico para el uso y aplicación de modelos y herramientas informáticas de planificación (SDDP, NCP)</li>
                </ul>
                <li class="lead">Monitoreo de variables de mercado</li>
                <li class="lead">Recursos Hídricos</li>
                <ul>
                    <li class="lead">Modelación hidrológica (Modelos lluvia-ecorrentía)</li>
                    <li class="lead">Pronósticos hidrológico-energético</li>
                    <li class="lead">Elaboración de series sintéticas</li>
                    <li class="lead">Validación de coherencia de datos</li>
                </ul>
            </ul>

            <br>
            <div class="row">
                <div class="col-sm animate-box" data-animate-effect="fadeOut">
                    <div class="card">
                        <a [routerLink]="['/estrategia']" class="btn btn-fix">
                            <h5>Estrategia</h5>
                        </a>
                    </div>
                </div>
                <div class="col-sm animate-box" data-animate-effect="fadeOut">
                    <div class="card">
                        <a [routerLink]="['/comercializacion']" class="btn btn-fix">
                            <h5>Comercialización</h5>
                        </a>
                    </div>
                </div>
                <div class="col-sm animate-box" data-animate-effect="fadeOut">
                    <div class="card">
                        <a [routerLink]="['/regulacion']" class="btn btn-fix">
                            <h5>Regulación</h5>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-pie-pagina></app-pie-pagina>