<div class="jumbotron">
    <div class="container" style="margin-top:15px;" height="100%">
        <h1 class="display-5 text-center font-weight-bold">Estudios y Data Intelligence</h1>
        <p class="text-justify lead" style="font-size:30px;">La dinamica de los mercados energéticos y especialmente la dinamica de los mercados de electricidad en la region de centroamerica, hace necesario un monitoreo constante de los principales parámetros y variables que inciden directamente en las transacciones. Parametros tales como: precios de oportunidad de la energía (SPOT), precios internacionales de los combustibles, variabilidad de las fuentes renovables, indisponibilidades de la centrales generadoras, etc. necesitan ser monitoreados en el corto plazo y se requieren proyecciones acertadas a mediano y largo plazo.</p>
        <p class="text-justify lead" style="font-size:30px;">En Pool Energy Consultores cuenta con la experiencia para elaborar pronosticos de escenarios que correlacionan estadisticamente históricos, datos actuales y proyecciones en el contexto de los modelos de mercado adoptados por cada país y que le facilitan al cliente el Data Intelligence necesario para orientar las acciones y toma de decisiones que garanticen la continuidad y exito de su negocio.</p>
        <h1 class="display-5 text-left font-weight-bold">Servicios</h1>
        <ul>
            <li class="lead" style="font-size:25px;">Estadisticas operativas y proyecciones:</li>
              <ul>
                  <li class="lead" style="font-size:25px;">Intercambios de energía (México y MER).</li>
                  <li class="lead" style="font-size:25px;">Consumos de combustibles.</li>
                  <li class="lead" style="font-size:25px;">Riesgo de deficit y energía no suministrada.</li>
                  <li class="lead" style="font-size:25px;">Costos marginales de corto plazo.</li>
                  <li class="lead" style="font-size:25px;">Valor del agua.</li>
                  <li class="lead" style="font-size:25px;">Precios nodales regionales.</li>
                  <li class="lead" style="font-size:25px;">Costos y Derechos de Transmisión Regionales.</li>
                  <li class="lead" style="font-size:25px;">Subastas de Derechos de Transmisión Regionales.</li>
              </ul>
            <li class="lead" style="font-size:25px;">Estudios de impacto económico:</li>
              <ul>
                  <li class="lead" style="font-size:25px;">Pronóstico de despacho de corto, mediano y largo plazo.</li>
                  <li class="lead" style="font-size:25px;">Simulación de cambios regulatorios (Reservas operativas, 50 bis, Modelo remueración RTR).</li>
                  <li class="lead" style="font-size:25px;">Asignaciones de potencia (OF, OF, exportaciones).</li>
                  <li class="lead" style="font-size:25px;">Factibilidad para exportar e importar en el MER.</li>
                  <li class="lead" style="font-size:25px;">Validación para agentes de la planificación, programación y pronósticos de los Operadores del Sisema y Mercado.</li>
                  <li class="lead" style="font-size:25px;">Soporte técnico para el uso y aplicación de modelos y herramientas informaticas de planificación (SDDP, NCP).</li>
              </ul>
            <li class="lead" style="font-size:25px;">Monitoreo de variables de mercado.</li>
        </ul>
    </div>
</div>
