<div class="cover">
    <div id="servicios">
        <div class="container">
            <div class="heading animate-box" data-animate-effect="fadeIn">
                <h1>Nuestra Opinión</h1>
                <p class="sub text-center lead">En esta area se publicaran las notas sobreo la opinión de Pool Energy Consultores.</p>
            </div>
            <br>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>


    <app-pie-pagina></app-pie-pagina>
</div>