/* .inicio {
    background: url(/assets/img/2986.jpg) center no-repeat #fff;
} */

video {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: -100;
    background-size: cover;
}

div .display-t1 iframe {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
}

@media screen and (max-width: 768px) {
    video {
        padding-top: 30px;
        height: 0px;
    }
}


/* iframe #player {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: -100;
    background-size: cover;
} */