<div>
  <div style="margin:10%;" >
    <h1 class="text-center font-italic" >
      Proveemos a nuestros clientes de herramientas de análisis para crear valor en el Mercado Mayorista de Electricidad  y en el Mercado Eléctrico Regional.
    </h1>
  </div>

  <div class="jumbotron">
    <div class="container" style="margin-top:15px;" height="100%">
        <h1 class="display-4">Quienes somos</h1>
        <p class="text-justify lead">En Pool Energy Consultores somos una firma especializada en asesoría normativa y regulatoria para toma de decisiones, análisis de mercado para formular estrategias de negocio y modelado y simulación de contratos de compraventa de energía.</p>
        <p class="text-justify lead">La experiencia de nuestros consultores abarca desde el monitoreo de las principales variables de mercado, análisis de cambios normativos y regulatorios, asesoria en estrategia comercial, operación y mantenimiento hasta análisis técnicos y económicos de sistemas electricos de potencia, que nos permite proveer servicios enfocados a crear valor. Nuestros clientes son actores principales de las diferentes actividades de la industria electrica.</p>
    </div>
  </div>
</div>
