<div class="inicio cover">
  <div class="overlay"></div>
  <div class="container">
      <div class="row">
          <div class="col-md-12 col-md-offset-0 text-center">
              <div class="display-t">
                  <div class="display-tc">
                    <h1 class="animate-box slogan text-center font-italic" data-animate-effect="fadeIn">
                        Proveemos a nuestros clientes herramientas de análisis para crear valor en el Mercado Mayorista de Electricidad  y Mercado Eléctrico Regional.
                    </h1>
                </div>
              </div>
          </div>
      </div>
  </div>
  <div id="inicio">
    <div class="container">
        <div class="heading animate-box" data-animate-effect="fadeIn">
          <h1>Quienes somos</h1>
          <p class="text-justify lead">En Pool Energy Consultores somos una firma especializada en asesoría normativa y regulatoria para toma de decisiones, análisis de mercado para formular estrategias de negocio y modelado y simulación de contratos de compraventa de energía.</p>
          <p class="text-justify lead">La experiencia de nuestros consultores abarca desde el monitoreo de las principales variables de mercado, análisis de cambios normativos y regulatorios, asesoria en estrategia comercial, operación y mantenimiento hasta análisis técnicos y económicos de sistemas electricos de potencia, que nos permite proveer servicios enfocados a crear valor. Nuestros clientes son actores principales de las diferentes actividades de la industria electrica.</p>
        </div>
    </div>
  </div>
  <app-pie-pagina></app-pie-pagina>
</div>
