<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #000C4D;" height="100%">
  <a class="navbar-brand" href="/">Pool Energy</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a  class="nav-link" [routerLink]="['/inicio']">Quienes Somos</a>
      </li>
      <li class="nav-item dropdown" routerLinkActive="active">
        <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
          Servicios
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLinkActive="active" [routerLink]="['/servicios']">Servicios</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLinkActive="active" [routerLink]="['/estrategia']">Estrategia</a>
          <a class="dropdown-item" routerLinkActive="active" [routerLink]="['/regulacion']">Regulacíon</a>
          <a class="dropdown-item" routerLinkActive="active" [routerLink]="['/comercializacion']">Comercializacón</a>
          <a class="dropdown-item" routerLinkActive="active" [routerLink]="['/data_intelligence']">Estudios y data intelligence</a>
        </div>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/estudios']">Estudios</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/nuestra-opinion']">Nuestra opinión</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/contacto']">Contacto</a>
      </li>
    </ul>
  </div>
</nav>