<div class="cover">
  <div id="servicios">
    <div class="container">
      <div class="heading animate-box" data-animate-effect="fadeIn">
        <h1 class="text-center font-weight-bold">Estretegia</h1>
        <p class="text-justify lead">Pool Energy Consultores cuenta con las herramientas necesarias para diseñar
          herramientas competitivas tanto para la demanda como para la oferta, orientadas a la consecución de resultados
          favorables y en la línea con los objetivos y valores de cada uno de nuestros clientes.</p>
      </div>
      <div class="animate-box" data-animate-effect="fadeout">
        <h1 class="font-weight-bold">Servicios</h1>
        <ul>
          <li class="lead">Habilitación comercial y posicionamiento en el mercado para nuevos agentes</li>
          <li class="lead">Apoyo en la busqueda de potenciales proyectos de generación y comercialización</li>
          <li class="lead">Auditoria de proyectos (due diligence)</li>
          <li class="lead">Formulación y evaluación comercial de proyectos</li>
          <li class="lead">Diseño de estrategia comercial de los productos del Mercado Mayorista de Electricidad (MM) y
            Mercado Eléctrico Regional (MER)
            <ul>
              <li class="lead">Potencia</li>
              <li class="lead">Energía</li>
              <li class="lead">Derechos de Transmisión</li>
              <li class="lead">Servicios complementarios</li>
            </ul>
          </li>
        </ul>
      </div>

      <br>
      <div class="row">
        <div class="col-sm animate-box" data-animate-effect="fadeOut">
          <div class="card">
            <a [routerLink]="['/regulacion']" class="btn btn-fix">
              <h5>Regulación</h5>
            </a>
          </div>
        </div>
        <div class="col-sm animate-box" data-animate-effect="fadeOut">
          <div class="card">
            <a [routerLink]="['/comercializacion']" class="btn btn-fix">
              <h5>Comercialización</h5>
            </a>
          </div>
        </div>
        <div class="col-sm animate-box" data-animate-effect="fadeOut">
          <div class="card">
            <a [routerLink]="['/data_intelligence']" class="btn btn-fix">
              <h5>Estudios y Data intelligence</h5>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-pie-pagina></app-pie-pagina>