<div class="jumbotron">
    <div class="container" style="margin-top:15px;" height="100%">
        <h1 class="display-5 text-center font-weight-bold">Comercialización</h1>
        <p class="text-justify lead" style="font-size:30px;">El aspecto clave y más importante para la materialización de proyectos de energía eléctrica es asegurar las opciones de comercializació de la energía y los productos asociados con el objetivo de maximizar el valor de los proyectos y permitir al mismo tiempo su financiación.</p>
        <p class="text-justify lead" style="font-size:30px;">De igual forma los consumidores de energía eléctrica, necesitan identificar y administrar los riesgos de aprovicionamiento energético, buscando minimizarlos a travéz de una gestión inteligente de su demanda que asegure la continuidad de sus procesos productivos, comerciales y funcionales.</p>
        <p class="text-justify lead" style="font-size:30px;">En Pool Energy Consultores somos especialistas en encontrar el balance adecuado entre los interes de los diferentes participantes involucrados, mediante el diseño de esquemas de compraventa que contengan condiciones justas y equilibradas.</p>
        <p class="text-justify lead" style="font-size:30px;">Nuestra experiencia en comercialización de energía desde ambos lados oferta/demanda nos permite adecuar soluciones creativas y especializadas para concretar negocios y transacciones.</p>
        <h1 class="display-5 text-left font-weight-bold">Servicios</h1>
        <ul>
            <li class="lead" style="font-size:25px;">Asesoría para modelación y simulación de los diferentes tipos de contratos de suministro definidos normativamente.</li>
            <li class="lead" style="font-size:25px;">Organización y ejecución de licitaciones privadas de potencia, energía y servicios complementarios.</li>
            <ul>
                <li class="lead" style="font-size:25px;">Preparación de bases de licitación.</li>
                <li class="lead" style="font-size:25px;">Convocatoria a empresas oferentes.</li>
                <li class="lead" style="font-size:25px;">Preparación de formatos de ofertas.</li>
                <li class="lead" style="font-size:25px;">Análisis de ofertas.</li>
                <li class="lead" style="font-size:25px;">Identificación de riesgos.</li>
                <li class="lead" style="font-size:25px;">Simulación de ahorros.</li>
                <li class="lead" style="font-size:25px;">Selección de ofertas.</li>
                <li class="lead" style="font-size:25px;">Negociación y cierre de contratos de suministro.</li>
            </ul>
            <li class="lead" style="font-size:25px;">Asesoría a agentes generadores en la participacion de licitaciones de corto y largo .</li>
              <ul>
                <li class="lead" style="font-size:25px;">Análisis regulatorio.</li>
                <li class="lead" style="font-size:25px;">Evaluación de riesgos de contrato de suministro.</li>
                <li class="lead" style="font-size:25px;">Elaboración del modelo de ingresos.</li>
                <li class="lead" style="font-size:25px;">Preparación del modelo financiero.</li>
                <li class="lead" style="font-size:25px;">Definición de bloques y volumnes a oferta.</li>
              </ul>
              <li class="lead" style="font-size:25px;">Diseño de estrategia comercial de los productos del Mercado Mayorista de Electricidad (MM) y Mercado Eléctrico Regional (MER)
                  <ul>
                      <li class="lead" style="font-size:25px;">Potencia.</li>
                      <li class="lead" style="font-size:25px;">Energía.</li>
                      <li class="lead" style="font-size:25px;">Derechos de Transmisión.</li>
                      <li class="lead" style="font-size:25px;">Servicios complementarios.</li>
                  </ul>
              </li>
        </ul>
    </div>
</div>