<div id="servicios">
    <div class="container">
        <div class="heading animate-box" data-animate-effect="fadeIn">
            <h1 class="font-weight-bold">Comercialización</h1>
            <p class="text-justify lead">El aspecto clave y más importante para la materialización de proyectos de energía eléctrica es asegurar las opciones de comercialización de la energía y los productos asociados con el objetivo de maximizar el valor de los proyectos y permitir
                al mismo tiempo su financiación.</p>
            <p class="text-justify lead">De igual forma los consumidores de energía eléctrica, necesitan identificar y administrar los riesgos de aprovicionamiento energético, buscando minimizarlos a travéz de una gestión inteligente de su demanda que asegure la continuidad de sus
                procesos productivos, comerciales y funcionales.
            </p>
            <p class="text-justify lead">En <strong><b>Pool Energy Consultores</b></strong> somos especialistas en encontrar el balance adecuado entre los intereses de los diferentes participantes involucrados, mediante el diseño de esquemas de compraventa que contengan condiciones
                justas y equilibradas.</p>
            <p class="text-justify lead">Nuestra experiencia en comercialización de energía tanto del lado de la Oferta como de la Demanda nos permite adecuar soluciones creativas y especializadas para concretar negocios y transacciones.</p>
            <img src="/assets/img/Comercialización.jpg">
        </div>
        <div class="animate-box" data-animate-effect="fadeout">
            <h1 class="heading text-left font-weight-bold">Servicios asociados</h1>
            <ul>
                <li class="lead">Asesoría para modelación y simulación de los diferentes tipos de contratos de suministro definidos normativamente.</li>
                <li class="lead">Organización y ejecución de licitaciones privadas de potencia, energía y servicios complementarios.
                </li>
                <ul>
                    <li class="lead">Preparación de bases de licitación.</li>
                    <li class="lead">Convocatoria a empresas oferentes.</li>
                    <li class="lead">Preparación de formatos de ofertas.</li>
                    <li class="lead">Análisis de ofertas.</li>
                    <li class="lead">Identificación de riesgos.</li>
                    <li class="lead">Simulación de ahorros.</li>
                    <li class="lead">Selección de ofertas.</li>
                    <li class="lead">Negociación y cierre de contratos de suministro.</li>
                </ul>
                <li class="lead">Asesoría a agentes generadores en la participacion de licitaciones de corto, mediano y largo .</li>
                <ul>
                    <li class="lead">Análisis regulatorio.</li>
                    <li class="lead">Evaluación de riesgos de contrato de suministro.</li>
                    <li class="lead">Elaboración del modelo de ingresos.</li>
                    <li class="lead">Preparación del modelo financiero.</li>
                    <li class="lead">Definición de bloques y volumnes a oferta.</li>
                </ul>
                <li class="lead">Diseño de estrategia comercial de los productos del Mercado Mayorista de Electricidad (MM) y Mercado Eléctrico Regional (MER)
                    <ul>
                        <li class="lead">Potencia.</li>
                        <li class="lead">Energía.</li>
                        <li class="lead">Derechos de Transmisión.</li>
                        <li class="lead">Servicios complementarios.</li>
                    </ul>
                </li>
            </ul>
        </div>

        <br>
        <div class="row">
            <div class="col-sm animate-box" data-animate-effect="fadeOut">
                <div class="card">
                    <a [routerLink]="['/estrategia']" class="btn btn-fix">
                        <h5>Estrategia</h5>
                    </a>
                </div>
            </div>
            <div class="col-sm animate-box" data-animate-effect="fadeOut">
                <div class="card">
                    <a [routerLink]="['/regulacion']" class="btn btn-fix">
                        <h5>Regulación</h5>
                    </a>
                </div>
            </div>
            <div class="col-sm animate-box" data-animate-effect="fadeOut">
                <div class="card">
                    <a [routerLink]="['/data_intelligence']" class="btn btn-fix">
                        <h5>Estudios y Data intelligence</h5>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>