img {
    float: right;
    width: 500px;
    height: 350px;
    max-width: 100%;
}

@media screen and (max-width: 768px) {
    img {
        float: right;
        width: 400px;
        height: 200px;
        max-width: 100%;
    }
}