<div class="cover">
  <div id="servicios">
    <div class="container">
      <div class="heading animate-box" data-animate-effect="fadeIn">
        <h1>Servicios</h1>
        <p class="text-justify lead">La amplia experiencia de nuestros consultores en temas técnicos, regulatorios y
          comerciales nos permite identificar riesgos y oportunidades que agregan valor a la actividad economica de
          nuestros clientes y nos consolida como un aliado estratégico para la toma de sus decisiones.</p>
        <p class="text-justify lead">Nuestra experiencia desde el inicio de la desentralización de los sectores
          eléctricos en la región nos permite tener una vision clara de las mejores prácticas del sector, asegurando a
          nuestros clientes soluciones eficientes y decisiones acertadas.</p>
      </div>
      <br>
      <div class="row">
        <div class="col-sm animate-box" data-animate-effect="fadeOut">
          <div class="card">
            <a [routerLink]="['/estrategia']" class="btn btn-fix">
              <h5>Estrategia</h5>
            </a>
          </div>
        </div>
        <div class="col-sm animate-box" data-animate-effect="fadeOut">
          <div class="card">
            <a [routerLink]="['/regulacion']" class="btn btn-fix">
              <h5>Regulación</h5>
            </a>
          </div>
        </div>
        <div class="col-sm animate-box" data-animate-effect="fadeOut">
          <div class="card">
            <a [routerLink]="['/comercializacion']" class="btn btn-fix">
              <h5>Comercialización</h5>
            </a>
          </div>
        </div>
        <div class="col-sm animate-box" data-animate-effect="fadeOut">
          <div class="card">
            <a [routerLink]="['/data_intelligence']" class="btn btn-fix">
              <h5>Estudios y Data intelligence</h5>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-pie-pagina></app-pie-pagina>