<div class="jumbotron">
  <h1 class="display-5 text-center font-weight-bold">Servicios</h1>
  <div class="container">
    <p class="text-justify lead" style="font-size:30px;">La  amplia experiencia de nuestros consultores en temas técnicos, regulatorios y comerciales nos permite identificar riesgos y oportunidades que agregan valor a la actividad economica de nuestros clientes y nos consolida como un aliado estratégico para la toma de sus decisiones.</p>
    <p class="text-justify lead" style="font-size:30px;">Nuestra experiencia desde el inicio de la desentralización de los sectores eléctricos en la región nos permite tener una vision clara de las mejores prácticas del sector, asegurando a nuestros clientes soluciones eficientes y decisiones acertadas.</p>
    <div class="row">
      <div class="col-sm-6">
        <div class="card ">
            <a [routerLink]="['/estrategia']" class="btn btn-fix">
            <img src="\assets\img\estrategia.jpg" alt="Imagen" style="width:100%">
          <div class="card-body">
            <h5 class="card-title">Estrategia</h5>
            <p class="card-text">Algo breve.</p>
          </div>  
          </a>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card ">
            <a [routerLink]="['/regulacion']" class="btn btn-fix">
            <img src="\assets\img\regulacion.jpg" alt="Imagen" style="width:100%">
          <div class="card-body">
            <h5 class="card-title">Regulación</h5>
            <p class="card-text">Algo breve.</p>
          </div>  
          </a>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-sm-6">
        <div class="card ">
            <a [routerLink]="['/comercializacion']" class="btn btn-fix">
            <img src="\assets\img\comercializacion.jpg" alt="Imagen" style="width:100%">
          <div class="card-body">
            <h5 class="card-title">Comercialización</h5>
            <p class="card-text">Algo breve.</p>
          </div> 
          </a> 
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card ">
            <a [routerLink]="['/data_intelligence']" class="btn btn-fix">
            <img src="\assets\img\data_intelligence.jpg" alt="Imagen" style="width:100%">
          <div class="card-body">
            <h5 class="card-title">Estudios y data intelligence</h5>
            <p class="card-text">Algo breve.</p>
          </div> 
          </a> 
        </div>
      </div>
    </div>
  </div>
</div>
